
<%- include('header'); -%>
<div class="main-carousel " id="main" data-flickity='{"wrapAround":true,"autoPlay":true}'>
<div class="carousel-cell">
      <img src="images/my-pic6.jpg" id="my_pic">
  </div>
  <div class="carousel-cell">
      <img src="images/my-pic7.jpg" id="my_pic"alt="">
  </div>
  <div class="carousel-cell">
      <img src="images/my-pic1.jpg" id="my_pic" alt="">
  </div>
  <div class="carousel-cell">
      <img src="images/my-pic2.jpg" id="my_pic" alt="">

  </div>
  <div class="carousel-cell">
      <img src="images/my-pic4.jpg" id="my_pic" alt="">
  </div>
  <div class="carousel-cell">
      <img src="images/my-pic5.jpg" id="my_pic" alt="">
  </div>
  <div class="carousel-cell">
      <img src="images/my-pic3.jpg" id="my_pic" alt="">
  </div>



</div>

<p class="para" >Hiii Everyone , I am Arvind Saxena From Dhanbad,Jharkhand.<br> Well i passed my 10th from D.A.V public School, Moonidh with 8.6 Cgpa<br> And I passed 12th from DOON Public School ,Kusum Vihar, <br>Dhanbad With 63% And I still study in Asansol Engineering College <br> and i completed my 2 year in collegge and <br>my departmennt is computer science and Enginnering .</p>

<a href="/" style="text-decoration:none; font-size:12px; margin-top:90px; margin-left:30px;" class="btn btn-outline-danger">Go Back</a>

<%- include('footer'); -%>
