<%- include('header'); -%>
<a href="/" style="text-decoration:none; font-size:12px; margin-left:20px; margin-top:10px;" class="btn btn-outline-danger">Go Back </a>
<ul class="ul text-center">
  <li><a href="https://www.youtube.com/channel/UCTukY-UBYZvd8hx-6MOUh2Q?view_as=subscriber" class="icon" id="one" ><i class="fa fa-youtube" aria-hidden="true"> <span>ytube</span></i></a></li>
  <li>  <a href="https://www.instagram.com/arvindkumar8988/" class="icon" id="two"><i class="fa fa-instagram" aria-hidden="true"> <span>insta</span></i></a></li>
</ul>
  <ul class="text-center ul aa">
  <li>  <a href="https://WWW.facebook.com" class="icon" id="two"><i class="fa fa-facebook-official" aria-hidden="true"> <span>fb</span></i></a></li>

  <li>  <a href="https://www.twitter.com" class="icon"><i class="fa fa-twitter" aria-hidden="true"> <span>twitter</span></i></a></li>
</ul>
<!-- sinup page -->
<form class="form-signin text-center" action="/contact" method="post" >
  <img class="mb-4" src="images/one.png" alt="" width="72" height="72">
  <h2 class="h3 mb-3 font-weight-normal text-white">If you want to contact</h2>
  <input type="text" name="name" class="form-control" placeholder="First Name" required autofocus>
  <input type="text"  name="email" class="form-control" placeholder="Enter Email" required >
  <button class="btn btn-lg btn-primary btn-block" type="submit">send</button>

</form>



<%- include('footer'); -%>
