<%- include('header'); -%>
<!-- <h1>This is My cv Page!!!!!!!</h1> -->

<h1 id="name" class="text-center" >Hello! I am Arvind Saxena.</h1>
<div class="buttons">
  <form  action="/about" method="post">
    <button type="submit" name="button" class="link btn btn-outline-primary" >About Me</button>
  </form>
  <form class="" action="/skills" method="post">
    <button type="submit" name="button" class="link btn btn-outline-success" >Skills</button>
  </form>
  </div>
  <div class="buttons">
  <form class="" action="/" method="post">
    <button type="submit" name="button" class="link btn btn-outline-warning">home</button>

  </form>
    <form class="" action="/contact" method="post">
      <button type="submit" name="button" class="link btn btn-outline-info">Contact Me</button>
    </form>
  </div>
  <div class="text-center" >
    <img src="images/micky.jpg" id="imag" alt="">
    </div>
<%- include('footer'); -%>
