<%- include('header'); -%>
<a href="/" style="text-decoration:none; font-size:12px; margin-left:20px; margin-top:10px;" class="btn btn-outline-danger">Go Back</a>
<form class="text-center text-white" action="/results" method="get" style="margin-top:250px">
  <h3 style="font-size:48px;   font-family: 'Oleo Script', cursive;">Search Movie that You Like</h3>
  <input type="text" name="movie" placeholder="Enter Movie Name" >
  <button type="submit" class="btn btn-outline-warning">Check</button>
</form>


<%- include('footer'); -%>
