<%- include('header'); -%>
<a href="/" style="text-decoration:none; font-size:12px; margin-left:20px; margin-top:10px;" class="btn btn-outline-danger">Go Back</a>
<form  action="/weather" method="post" class="text-center text-white weatherForm" style="margin-top:200px" >
  <h3 style="font-size:40px"  >Check Weather Condition in your Loality</h3>
  <input type="text" name="city" value="" placeholder="Enter City Name" class="" style="width:250px; padding:8px;" >
  <button type="submit" class="btn btn-outline-info" >check</button>
</form>

<%- include('footer'); -%>









<%# 1e0d0b162511ebc5335511e184d2bb65 %>
